# webscraping-manager
webscraping-manager/.bundle
webscraping-manager/.env*
webscraping-manager/log/*
webscraping-manager/tmp/*
!webscraping-manager/log/.keep
!webscraping-manager/tmp/.keep
webscraping-manager/tmp/pids/*
!webscraping-manager/tmp/pids/
!webscraping-manager/tmp/pids/.keep
webscraping-manager/storage/*
!webscraping-manager/storage/.keep
webscraping-manager/tmp/storage/*
!webscraping-manager/tmp/storage/
!webscraping-manager/tmp/storage/.keep
webscraping-manager/public/assets
webscraping-manager/config/master.key
webscraping-manager/app/assets/builds/*
!webscraping-manager/app/assets/builds/.keep
webscraping-manager/node_modules

# auth-service
auth-service/.bundle
auth-service/.env*
auth-service/log/*
auth-service/tmp/*
!auth-service/log/.keep
!auth-service/tmp/.keep
auth-service/tmp/pids/*
!auth-service/tmp/pids/
!auth-service/tmp/pids/.keep
auth-service/storage/*
!auth-service/storage/.keep
auth-service/tmp/storage/*
!auth-service/tmp/storage/
!auth-service/tmp/storage/.keep
auth-service/public/assets
auth-service/config/master.key
auth-service/app/assets/builds/*
!auth-service/app/assets/builds/.keep
auth-service/node_modules

# notification-service
notification-service/.bundle
notification-service/.env*
notification-service/log/*
notification-service/tmp/*
!notification-service/log/.keep
!notification-service/tmp/.keep
notification-service/tmp/pids/*
!notification-service/tmp/pids/
!notification-service/tmp/pids/.keep
notification-service/storage/*
!notification-service/storage/.keep
notification-service/tmp/storage/*
!notification-service/tmp/storage/
!notification-service/tmp/storage/.keep
notification-service/public/assets
notification-service/config/master.key
notification-service/app/assets/builds/*
!notification-service/app/assets/builds/.keep
notification-service/node_modules

# webscraping-service
webscraping-service/.bundle
webscraping-service/.env*
webscraping-service/log/*
webscraping-service/tmp/*
!webscraping-service/log/.keep
!webscraping-service/tmp/.keep
webscraping-service/tmp/pids/*
!webscraping-service/tmp/pids/
!webscraping-service/tmp/pids/.keep
webscraping-service/storage/*
!webscraping-service/storage/.keep
webscraping-service/tmp/storage/*
!webscraping-service/tmp/storage/
!webscraping-service/tmp/storage/.keep
webscraping-service/public/assets
webscraping-service/config/master.key
webscraping-service/app/assets/builds/*
!webscraping-service/app/assets/builds/.keep
webscraping-service/node_modules
